<ion-header-bar>

<div class="buttons">
    <button 
    class="button button-icon icon ion-navicon-round">
    </button>
    <h1 class="title publish">Home</h1>
    <button class="button button-icon ion-compose" ui-sref="createTodo"></button>
</div>

</ion-header-bar>

<ion-content>


    <div ng-repeat="item in items | orderBy: '-createdAt' ">
        <div class="item item-avatar">
            <img ng-src="img/placeholder.jpg">
            <h2>Marty McFly</h2>
            <p>{{ item.updatedAt | date:'longDate' }}</p>
        </div>
        <div class="blog-preview">
            <h1 class="preview-title">{{ item.title }}</h1>    
            <img class="cover-image" ng-src="img/placeholder.jpg">
        </div>
        

    </div>



<!--     <ion-list show-delete="data.showDelete">
        <ion-item 
            ng-repeat="item in items | orderBy: '-createdAt'" 
            item="item"
            href="#todo/edit/{{ item.objectId }}/{{ item.content }}">
            {{ item.content }}
            <ion-delete-button 
            class="ion-minus-circled"
            ng-click="onItemDelete(item)">
        </ion-item>
    </ion-list> -->

</ion-content>